*
{
    padding: 0;
    margin: 0;
}
.headerContainer
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px;
}
.headerContainer .container
{
    background-color: #110E6F;
    color: #fff;
    padding: 10px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-radius: 10px;
} 
.headerContainer .container .side
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.headerContainer .container .side div
{
    display: flex;
    justify-content: center;
    margin-left: 3px;
    margin-right: 3px;
    text-align: center;
}  
.headerContainer .container .side div h5
{
    width: 70%;
    text-align: center;
}
.headerContainer .container .side div .imagem
{
    width: 40px;
    height: 40px;
}
.headerContainer .container .side:nth-child(2) div:nth-child(2) .imagem
{
    height: 20px;
    width: 20px;
    background-color: #D9D9D9;
    border-radius: 50%;
    padding: 4px;
}
.headerContainer .container .side:nth-child(1) div:nth-child(3),
.headerContainer .container .side:nth-child(1) div:nth-child(4)
{
    color: #FFCC00;
}
.headerContainer .container .side:nth-child(2) div:nth-child(1)
{
    margin-right: 50px;
}
