*{
    padding: 0;
    margin: 0;
}
.corpoFormulario
{
    display: flex;
    justify-content: center;
}
.corpoFormulario .subcorpo
{

    border: 1px solid red;
    width: 500px;
}
.corpoFormulario div .logo
{
    display: flex;
    justify-content: center;
}
.corpoFormulario div .logo img
{
    width: 100px;
    height: 100px;
}
.corpoFormulario .subcorpo form .esqueceuSen
{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    
}

