*
{
    padding: 0;
    margin: 0;
}
.organizaCorpoInput
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.corpoInput
{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: start;
    background-color: #110E6F;
    padding: 5px;


    width: 90%;
    border-radius: 10px;
    padding: 10px;
}
.corpoInput div:nth-child(1)
{
    padding: 1px;
    width: 100px;
    text-align: center;
    color: rgba(255, 255, 255, 0.712);
    border-right: 2px solid #fff;
    margin-right: 10px;
}
.corpoInput div:nth-child(2)
{
    width: 100%;
}
.corpoInput div:nth-child(2) input
{
    width: 100%;
    padding: 5px;
    outline: none;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 18px;
}